.main-container {
  padding: 100px;
}

.sub-container {
  padding: 100px;
  background: rgb(100, 100, 100);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  h1 {
    padding: 25px;
  }

  h3 {
    padding: 10px;
  }

  p {
    padding: 5px;
    font-size: 16px;
  }

  li {
    padding: 5px;
    font-size: 16px;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  font-size: 16px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 1rem;
  padding: 50px;
  background: rgb(50, 50, 50);
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

label {
  margin-bottom: 10px;
  padding: 10px;
  width: 10%;
}

input,
textarea {
  padding: 5px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 1rem;
  width: 40%;
}

.btn-contact {
  padding: 10px;
  background-color: rgb(0, 125, 255);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 125, 255);
  border-radius: 1rem;
  cursor: pointer;
  width: 30%;
  margin-left: 35%;
}

.btn-contact:hover {
  background-color: rgb(0, 75, 175);
}
