.FD-main-con {
  text-align: center;
  justify-content: center;
  margin: 20px;
  img {
    width: 300px;
    height: 400px;
    margin: 1rem;
    border-radius: 1rem;
  }
  p {
    margin: 50px;
    font-size: 24px;
  }
}
